body{
    background-color: antiquewhite;
}

.hiasan-klik{
    margin-left: 110px;
    margin-right: 120px;
}

.datar{
    text-align: center;
    font-weight: bold;
}

.klik{
    background-color: aquamarine;
    color: black;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: auto;
}

.klik:hover{
    background-color: aqua;
}

.penjelasan{
    padding: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 10px;
    text-align: justify;
}